.root {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;

  :global {
    li {
      background-color: #f3f3f3;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      width: 32px;
      height: 32px;
      transition: all 0.15s ease-in-out;

      & a {
        padding: 5px 11px;
        position: relative;
        top: 5px;
      }

      &:hover:not(.disabled) {
        background-color: #fe5f1e;

        & a {
          color: #fff;
        }
      }

      &.selected {
        background-color: #fe5f1e;

        & a {
          color: #fff;
        }
      }

      &.disabled {
        opacity: 0.4;
        cursor: default;
      }
    }
  }
}
