.root {
  position: relative;
  left: -80px;
}

.input {
  border: 1px solid #acacac;
  padding: 10px 15px 10px 40px;
  border-radius: 25px;
  width: 300px;
  color: #fe5f1e;
  font-size: 16px;

  transition: all 0.15s ease-in-out;

  &:active,
  &:focus {
    width: 400px;
    border-color: #fe5f1e;
    &:placeholder {
      color: #fe5f1e;
    }
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
